.indexCSS {
    background-color: rgb(185, 146, 113);
}
img {
    display: block;
    margin-right:auto;
    margin-left: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 8px rgb(red, green, blue);
    object-fit: cover;
}
p {
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.topnav {
background-color: antiquewhite;
overflow: hidden;  
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover {
    background-color: black;
    color: antiquewhite;
}
h1 {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.column1 {
    flex: 20%;
    padding: 5px;
    
}

.fblofo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 50em;
}

 #images{
    text-align: center;
 }

 @media screen and (max-device-width:60em) {

 .clothes {
    width: 15em;
 }
 .row {
     display: flex;
     flex-direction: row;
 }

  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 8em;
      height: 8em;
      object-fit: cover;
  }
 }

 
 