.indexCSS {
    background-color: rgb(185, 146, 113);
}
img {
    display: block;
    margin-right:auto;
    margin-left: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 8px grey;
}
p {
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.topnav {
background-color: antiquewhite;
overflow: hidden;  
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover {
    background-color: antiquewhite;
    color: black;
}
h1 {
    text-align: center;
}